html 
        body 
           
link(rel="stylesheet" href="./styles.css")

h1 GET TO KNOW THE COUNTIES OF MASSACHUSSETS
    

H2 SITES IN EACH COUNTY 

H2 SEAT OF AUTHORITY AND MORE

H4 mass the spirit of america
