html 
         body  
         link(rel="stylesheet" href="./styles.css")
  
GET TO KNOW THE COUNTIES OF MASSACHUSSETS


H2 SITES IN EACH COUNTY 

H2 SEAT OF AUTHORITY AND MORE

           

H2 API DOCUMENTATION

h5 http://localhost:1555/counties
  br
  |  **RESPONSE**  
  p ```JSON
  p 
  p       [{
  p      name: 'Barnstable',
  p        seat: 'Barnstable',
  p       site: 'Pilgrim monument',
  p       }    
  p      ...all other counties 
  p       ]
  p       ```


//- h3 http://localhost:1555/counties/Pittsfield

//-  **RESPONSE**
//- ```JSON
//- {
//-   name: 'Berkshire',
//-   seat: 'Pittsfield',
//-   site: 'Mount greylock',
//- }

//- h3 http://localhost:1555/counties/Battleshipcove  

//- **RESPONSE **
//- ```JSON
//- {
//-   name: 'Bristol',
//-   seat: 'Taunton',
//-   site: 'Battleship cove',
//- }*/
         

H4 mass the spirit of america     
