html 
         body  
         link(rel="stylesheet" href="./styles.css")
  

h2 GET TO KNOW THE COUNTIES OF MASSACHUSSETS


H2 SITES IN EACH COUNTY 

H2 SEAT OF AUTHORITY AND MORE

           

H2 API DOCUMENTATION
H2 app.get

h3 http://localhost:1555/counties

  p   **RESPONSE**  
  p ```JSON
  p       [{
  p      name: 'Barnstable',
  p        seat: 'Barnstable',
  p       site: 'Pilgrim monument',
  p       }    
  p      ...all other counties 
  p       ]
  p       ```

H2 app.get
h3 http://localhost:1555/counties/Pittsfield

p -  **RESPONSE**
p - ```JSON
p - {
p -   name: 'Berkshire',
p -   seat: 'Pittsfield',
p -   site: 'Mount greylock',
p - }

H2 app.post 

h3 http://localhost:1555/counties/Battleshipcove  

p - **RESPONSE **
p - ```JSON
p - {
p -   name: 'Bristol',
p -   seat: 'Taunton',
p -   site: 'Battleship cove',
p - }*/
         

H4 mass the spirit of america     
